@import "src/mixins";

:host {
  display: block;
}

.nav-container {
  .toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;

    width: var(--content-max-width);
  }

}
